apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jupyterhub-ngrok
  namespace: {{ jupyterhub_service_namespace }}
  labels:
    app.kubernetes.io/managed-by: ngrok-operator
{% if ngrok_access_mode | default('oauth') in ['oauth', 'ip'] %}
  annotations:
    k8s.ngrok.com/traffic-policy: "{{ ngrok_oauth_policy_name }}"
{% endif %}
spec:
  ingressClassName: ngrok
  rules:
    - host: "{{ ngrok_jupyterhub_domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ jupyterhub_service_name }}
                port:
                  number: {{ jupyterhub_service_port }}
