apiVersion: v1
kind: Service
metadata:
  name: panel-viz
  namespace: {{ panel_namespace }}
  labels:
    app: panel-viz
    app.kubernetes.io/name: panel-viz
spec:
  type: ClusterIP
  selector:
    app: panel-viz
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
